button{
    font-size: 15px;
}

th, td{
    width: 1%;
    text-align: center;
}

#tablaUsuarios{
    margin-top: 30px;
}

tr:hover{
    background-color: silver;
}

#formularioModificar{
    margin-left: 44%;
    align-content: center;
}

h1{
    margin-left: -35%;
}


